// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.sectionWhtBg {
	background-color: #E6F1FF;
}

.is-navy {
	color: #0A192F;
}

.headerMgn{
	margin-top: 60px;
	@include desktop {
		margin-top: 200px;
	}
}

.headerImg{
	@include desktop {		
		margin-left: 40px;
		margin-top: -190px;
	}
}

.twText {	
	font-size: 20px;
	line-height: 78px;
	font-weight: 400;
	@include desktop {			
		font-size: 50px;
		line-height: 78px;
		font-weight: 400;
	}
}
.typed {
	@include desktop{
		margin-top: 50px;
	}
}