// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.sectionWhtBg {
	background-color: #E6F1FF;
}
.sectionSlateBg{
	background-color: #8892b0;
}
.sectionLightSlateBg{
	background-color: #ccd6f6;
}
.sectionGreyBg{
	background-color: #333F58;
}
.sectionNavy{
	background-color: #0A192F;
}

.is-navy {
	color: #0A192F;
}
.is-white-custom{
	color: #E6F1FF;
}
.is-grn{
	color: #64ffda;
}
.is-wht{
	color: #ffffff;
}

.cardRound{
	border-radius:25px;
}

.headerMgn{
	margin-top: -20px;
	@include desktop {
		margin-top: 200px;
	}
}

.headerImg{
	@include desktop {		
		margin-left: 40px;
		margin-top: -190px;
	}
}

.twText {	
	font-size: 20px;
	line-height: 78px;
	font-weight: 400;
	@include desktop {			
		font-size: 50px;
		line-height: 78px;
		font-weight: 400;
	}
}
.typed {
	@include desktop{
		margin-top: 50px;
	}
}

.headerFoot {
	margin-top: 30px;
	@include desktop {
		margin-top: 100px;
	}
}
.abtCol {
	@include desktop{
		margin-top: 50px;
		margin-left: 30px;
		padding-bottom: 80px;
		margin-right: 30px;
	}
}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
}

.accordion__item + .accordion__item {
}

.accordion__button {
    background-color: transparent;
    color: #0A192F;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    border: 3px solid #0A192F;
	border-radius: 15px;
	margin-top: 20px;
}

.accordion__button:hover {
    background-color: #0A192F;
    color: #fff;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
